<%- include('header'); -%>
    <h1>Name</h1>
    <h3>John doe</h3>
    
    <h1> Address</h1>
    <h3>Fast and fruios road</h3>

    <h1>Phone</h1>
    <h3>055-9919991</h3>
    
    <h1>Email</h1>
    <h3>John@gamil.com</h3>
<%- include('footer'); -%>