<%- include('header'); -%> 

<div class="content">
    <form action="/api/login" method="post">
        <label for="username">Enter Your Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Enter Your Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
            
    </form>
    <p>Register to create an account<a href="/register">Register</a></p>
</div>


<%- include('footer'); -%>